*{
    box-sizing: -webkit-border-box;
    box-sizing: -moz-border-box;
    box-sizing: -o-border-box;
    box-sizing: border-box;
}
.row{
    margin: 0 !important;
}
a:hover {
    text-decoration: none  !important;
}
/*******************first header*************/
.navbar-collapse {
    box-shadow: -9px 1px 13px -5px #7d6244;
    margin-bottom: 24px;
    margin-top: -14px;
    align-items: center;
    background-color: white;
}
@media (min-width: 992px){
.navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;[[[[[]]]]]
    flex-basis: auto;
    padding-top: -30px;
    box-shadow: -1px 12px 8px -4px gainsboro;
    height: 83px;
    margin-bottom: 30px;
    }}


.first-heard{
    background-color: #a60002;
    position: relative;
}
@media screen and (max-width: 531px){
   .first-heard {
    background-color: #a60002;
    position: relative;

}
}
#bottom{
    display: inline-block;
    /* line-height: 3; */
    font-weight: 400;
    /* font-size: 15px; */
}
@media screen and (max-width: 530px){
    .ul-top{
        
        padding-left: 0px;
    }}
.aa{
    width: 21px;
    margin-right: 5px;
    margin-left: 8px;
}
@media screen and (max-width: 466px){
.aa {
    width: 18px;
    margin-right: -3px;
    margin-left: 8px;
}}@media screen and (max-width: 412px){
.aa {
    width: 18px;
    margin-right: -3px;
    margin-left: 8px;
    display: none;
    }}
.num2{
    height: 33px;
    padding-top: -37px;
    margin-top: 12px;
    color: aliceblue;
    display: inline-block;
    border-right: 1px solid white;
    padding-right: 14px;
}
.last-heard {
    display: inline-block;
    float: right;
    right: 50px;
    top: 9;
    bottom: 0px;
    font-weight: 400;
    font-size: larger;
    position: absolute;
    color: white;
}
@media (max-width: 600px){
.last-heard {
    display: inline-block;
    /* float: right; */
    right: 13px;
    top: 9;
    bottom: -6px;
    font-weight: 400;
    font-size: larger;
    position: absolute;
    color: white;
}}
@media (max-width: 440px){
.last-heard {
    display: inline-block;
    /* float: right; */
    right: 13px;
    top: 9;
    bottom: -6px;
    font-weight: 500;
    font-size: 15px;
    position: absolute;
    color: white;
    }}
.phone2{color: white;}
/*******************end first header*************/
/*******************second header*************/
.bg-light {
    background-color: #e9ebec!important;
    margin: -8px;
}
.imgg{
    width: 108px;
    display: block;
    /* top: -17px; */
    margin-top: -30px;
  }
.navbar-light .navbar-nav .nav-link {
    
    color: rgba(0,0,0,.5);
    padding-top: 23px;
    font-size: 21px;
    font-weight: 500;
}
.navbar-nav{
    margin: 0 auto;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(0,0,0,.9);
    border-radius: 21%;
    margin-top: 17px;
    font-size: 24px;
    padding: 6px 24px;
    border: 1px solid #a50204;
    /* margin-right: 35px; */
}

@media (max-width: 991px){
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
     background-color: #a50404;
    color: white;
    border-radius: 18%;
    font-size: 25px;
    padding-top: 8px;
    padding-left: 40px;
    height: 58px;
    margin-top: 13px;
    padding-top: -5px;
}

}
.navbar-brand {
    width: 533px;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    right: 0;
    font-size: 1.25rem;
    line-height: inherit;
    /* white-space: nowrap; */
}

.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    display: contents;}
.nav-item{    padding: 1px 31px;}
.navbar-light .navbar-toggler {
    background-color: #c53739;
    margin-bottom: 19px;
    /* padding-bottom: 16px; */
    color: rgb(255, 255, 255);
    border-color: rgba(109, 34, 34, 0.1);
}

/*******************end the second header*************/
/*******************the services*************/
.row2{justify-content: center;}
.justi{
    justify-content: center;
    margin: 0 auto;}

@media (max-width: 990px){
.justi {
    margin-right: 12px;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 17.666667%;
}}

@media (max-width: 766px){
.justi {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
     margin-right: 0px !important;
    max-width: 17.666667%;
    }}
    
    




    
    
.display2{
    border: 1px solid;
    max-width: 117%;
    margin-bottom: 17px;
    padding-bottom: 8px;

}
@media (max-width: 990px){
.display2{position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    /* margin: 3px; */
    margin-right: 131px;
    /* padding-right: 6px; */
    padding: 12 25px;
    max-width: 170%;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;

    }
}
@media (max-width: 990px){
    .display2 {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    margin-right: 131px;
    padding: 12 25px;
        
    max-width: 111%;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    }}










.title-2{
    text-align: center;
    color: #a60002;
    padding-top: 27px;
    font-weight: 600;
}
@media (max-width: 400px){
.title-2 {
    text-align: center;
    color: #a60002;
    padding-top: 27px;
    font-size: 26px;
    font-weight: 600;
    }}
.title-p2{text-align: center;
    line-height: 1;
    padding-top: 17px;
    font-weight: 500;}
.card-text{
    font-size: 18px;
    /* font-size: 1.5rem; */
    text-align: center;}



.card-body p{
    text-align: center;
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 700;
}


@media (max-width: 990px){
 .card-body p{
    text-align: center;
    font-size: 13px;
    font-weight: 700;
}
}

@media (max-width: 766px){
.card-body p{
    text-align: center;
    font-size: 12px!important;
    font-weight: 700;
}
}

@media (max-width: 439px){
.card-body p{
    text-align: center;
    font-size: 11px!important;
    font-weight: 700;
}
}@media (max-width: 403px){
.card-body p{
    text-align: center;
    font-size: 9px!important;
    font-weight: 700;
}
}



.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-bottom: 0;
    padding-top: 14px;
    /* padding: 1.25rem; */
}

@media (max-width: 990px){
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-bottom: 0;
    padding-top: 15px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

}



/*******************the services*************/
/*******************the slider*************/

#slider .carousel-indicators{
   
}
#slider .carousel-indicators li{
    border-radius: 49%;
    color: #e31919;
    height: 12px;
    width: 11px;}
.photoslider{max-width: 100%;
    max-height: 83%;}
.d-block {
    display: block!important;
    height: 500px;}
#slider .carousel-indicators li{
    margin: -11px 3px;
    background-color: azure;
}
#slider .carousel-indicators{
    position: absolute;
    left: inherit;
    margin-right:3%; 
    margin-left:0 ;
    right: 0;
    padding-bottom: 154px;
    bottom: 0;
    display: block;
    z-index: 15;
    padding-left: 0;
    margin-right: 3%;
    margin-left: 15%;
    list-style: none;
}


/*****************end the slider**************/
/*****************start mainbody**************/
#main-body{    background-color: #f3f3f3;
    overflow: hidden;}
.firstdocimg{ max-width: 100%;}
.f-row{padding-top: 47px;}
.title-1{ font-family: sans-serif;
    font-weight: 400;}
.title-1 h3{ font-weight: 700;}
.title-p{text-transform: uppercase;
    color: #e01919;
    font-weight: 700;
}
.subject-p{}
.left{LEFT: 46px;}
.inline-li{display: inline-block;}
.inline-li li{ display: inline;}
.second{
    margin: 0 auto;
    line-height: 4;
}



.owl-carousel .owl-item img {
    display: block;
    height: 278px;
    width: 100%;
}
@media screen and (min-width: 400px){
    .owl-carousel .owl-item img {
    display: block;
    height: 278px;
    width: 100%;
    margin-left: 6px;
    }
}

.popimg{}
.popcard{
    width: 16rem;
    position: relative;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid;
    border-radius: .25rem;
}

#carouselExampleCaptions{position: relative;}
.dots{    position: absolute;
    right: 0;
    /* bottom: 0; */
    left: 0;
    /* z-index: 15; */
    display: -ms-flexbox;
    /* display: flex; */
    -ms-flex-pack: center;
    justify-content: center;
    /* padding-left: 0; */
    /* margin-right: 15%; */
    /* margin-left: 15%; */
    /* list-style: none; */
}
.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin-right: 3px;
    background-color: black;
    margin: -20px 9px;
    margin-left: 3px;
    border-radius: 50%;
    text-indent: -999px;
    height: 13px;
    width: 19px;
    cursor: pointer;
    background-color: #212529;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}
.seconddocimg{  
    max-width: 100%;
    height: 286px;}
#about{
    margin: 20px 0 0PX 0;
    background: url(../doctor-with-stethoscope-using-digital-tablet-hospital-healthcare-medicine-concept_34200-234@2x.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 394px;
    background-size: cover;
    position: relative
}
#about .left2{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.img-back{}
.left2{    padding-top: 33px;
    padding-right: 35px;}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 10px);
    padding: .375rem .75rem;
    font-size: 14rem;
    /* font-size: 221px; */
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    border-radius: 0;
    background-color: #fff;
    box-shadow: -2px 1px 6px -2px;
    box-shadow: midnightblue;
    font: message-box;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    /* border-radius: .25rem; */
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.line-height{line-height: 2;}
#btnn{
    cursor: pointer;
    width: 100px;
    /* box-shadow: 1px 5px 7px 3px #9e2020; */
    border-radius: 0;
    border: 2px solid #9e2020;
    height: 51px;
    background-color: #9e2020;
}
.left2.img-back{opacity: 0.5;}



.wid2{width: 20px;
margin-right: 9px;}

@media screen and (max-width: 784px){
.wid2 {
   width: 20px;
    margin-right: 2px;

} }
@media screen and (max-width: 509px){
.wid2 {
    width: 13px;
    margin-right: 2px;

}}
@media screen and (max-width: 437px){
.wid2 {
    width: 12px;
    margin-right: 2px;
    }}
@media screen and (max-width: 421px){
.wid2 {
    width: 10px;
    margin-right: -1px;
    }}
@media screen and (max-width: 406px){
.wid2 {
    width: 10px;
    margin: -8px;
    margin-right: -1px;
    }}
@media screen and (max-width: 382px){
.wid2 {
    width: 10px;
    margin: -13px;
    /* margin-right: -6px; */
    }}

.wid{width: 20px;
margin-right: 9px;}

@media screen and (max-width: 418px){
.wid {
    width: 10px;
    margin-right: 9px;
} }
@media screen and (max-width:600px){
.wid {
    width: 16px;}}









.ul-li{ list-style-type: none;}
.t-li{font-weight: 700;
    font-size: 24px;
    color: #9e2020;
}
.third{height: 25px;
    width: 62px;}
.in-line-li{    
    display: inline-block;
    line-height: 3;
    font-weight: 400;
    font-size: 15px;}

/*****************end mainbody**************/
/*****************START ABOUTUS**************/
.paragraph3 {
    margin-top: 0;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.5;
    COLOR: #a70507;
    TEXT-TRANSFORM: UPPERCASE;
    padding-top: 7px;
    margin-bottom: 1rem;
    margin-top: 7px;
}
.address-Z {
    color: #111213;
    padding-top: 27px;
    font-weight: 700;
}
.mi2-img {
    height: 16px;
    width: 8%;
}
/*****************END ABOUTUS**************/
/*****************start contactUS**************/
.photo2{   
    DISPLAY: block;
    MARGIN: 0 AUTO;
    WIDTH: 102px;}
/*****************END contactUS**************/
/*****************start doctor2**************/
.mi-img{
    height: 22px;
    width: 10%;
}
@media screen and (max-width: 991px){
.mi-img {
    height: 22px;
    width: 17%;
    }}
.m2 {
    height: 26px;
    width: 10%;
    padding-bottom: 6px;
    margin-bottom: 19px;
}
@media screen and (max-width: 767px){
.m2 {
    height: 28px;
    width: 18%;
    padding-bottom: 6px;
    margin-bottom: 19px;
    }}
@media screen and (max-width: 345px){
.m2 {
    height: 28px;
    width: 27%;
    padding-bottom: 6px;
    margin-bottom: 19px;
    }}
.address{
    color: #a60002;
    padding-top: 27px;
    font-weight: 700;
}
@media screen and (max-width: 335px){
.address {
    color: #a60002;
    padding-top: 27px;
    font-size: 26px;
    font-weight: 700;
    }}
.paragraph2 {
    margin-top: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
    padding-top: 7px;
    margin-bottom: 1rem;
    margin-top: 7px;
}
.img-doc2{max-width: 100%;
    padding-top: 37px;}
.display{border: 1px solid gray;
    
    /* padding-bottom: 19px; */
    box-shadow: 1px 1px 7px 0px grey;
    margin-bottom: 35px;
    display: inline-block;
    margin-right: 9px;}
#diss{text-align: center;}
/*****************end doctor2**************/
/*****************footer**************/
footer{    background-color: white;
    bottom: 0px;
    margin-bottom: 0px;
    margin-top: 13px;
    width: 100%;
    box-shadow: -85px 6px 44px -1px #907272;
}
.col-home {
    max-width: 12%;
}

ul{ 
    list-style-type: none;}

.ull-li{ padding-inline-start: 0;
        letter-spacing: -1px;
    background-color: red
    display: inline-block;}
.margin-li{    
    margin-right: 75px;}
.last-btn{
    margin-top: 72px;
    border: 2px solid #a50002;
    height: 62px;
    background-color: #a50002;
    margin-left: -10px;
    padding: 0px;
    cursor: pointer;
    width: 186px;
    /* MARGIN-RIGHT: 41px; */
    FONT-SIZE: 19px;
    FONT-WEIGHT: 500;
}


.last-btn:hover{ color: #fff;
    font-weight: 500;
    background-color: #af2a2a;
    border-color: #d05555;
}

@media screen and (max-width: 1230px){
.last-btn {
    margin-top: 72px;
    border: 2px solid #a50002;
    height: 62px;
    background-color: #a50002;
    margin-left: -10px;
    padding: 0px;
    cursor: pointer;
    width: 174px;
    /* MARGIN-RIGHT: 41px; */
    FONT-SIZE: 19px;
    FONT-WEIGHT: 500;

}
}@media screen and (max-width: 1164px){
.last-btn {
    cursor: pointer;
    width: 162px;
}
}
@media screen and (max-width: 1068px){
.last-btn {
       width: 150px;
}
}

@media screen and (max-width: 1032px){
.last-btn {
    cursor: pointer;
    width: 135px;
}
}@media screen and (max-width: 904px){
.last-btn {
   width: 126px;
    height: 56px;
}
}
@media screen and (max-width: 892px){
.last-btn {
    height: 47px;
    font-size: 13px;
    width: 97px;
    }}
@media screen and (max-width: 668px){
.last-btn {
    height: 43px;
    font-size: 13px;
    width: 90px;
    }}
@media screen and (max-width: 626px){
.last-btn {
   display: block;
    height: 39px;
    font-size: 13px;
    margin-left: -28px;
    width: 95px;
}}
@media screen and (max-width: 553px){
.last-btn {
    display: block;
    height: 39px;
    font-size: 13px;
    margin-left: -28px;
    width: 86px;

}}
@media screen and (max-width: 530px){
.last-btn {
    display: block;
    height: 39px;
    font-size: 13px;
    margin-left: -28px;
    width: 83px;
    }}
@media screen and (max-width: 480px){
.last-btn {
    display: block;
    height: 39px;
    font-size: 11px;
    margin-left: -28px;
    width: 79px;

    }}
@media screen and (max-width: 450px){
.last-btn {
    display: block;
    height: 36px;
    font-size: 10px;
    margin-left: -28px;
    width: 73px;
    }}
@media screen and (max-width: 429px){
.last-btn {
    display: block;
    height: 28px;
    font-size: 10px;
    margin-left: -24px;
    width: 67px;
    }}
@media screen and (max-width: 392px){
.last-btn {
    display: block;
    height: 24px;
    font-size: 9px;
    margin-top: 86px;
    margin-left: -25px;
    width: 61px;
    }}
@media screen and (max-width: 360px){
.last-btn {
    display: block;
    height: 24px;
    font-size: 8px;
    margin-top: 86px;
    margin-left: -25px;
    width: 56px;
    }}
        @media screen and (max-width: 337px){
.last-btn {
    
    margin-left: -29px;
        }}
@media screen and (max-width: 320px){
.last-btn {
    margin-left: -32px;
    }}




#ul-li2{margin-top: 22px;
    font-size: 17px;
    background-color: antiquewhite
    display: inline-block;
    font-weight: 400;}


/*****************start the doctor**************/
.fix{    
    border: 1px solid;
    padding: 2px;
    box-shadow: 6px 17px 30px -22px #6b0b0b;
    overflow: hidden;
    margin-top: 24px;
    margin-bottom: 21px;}
.middle-img {height: 39px;
    width: 12%;}
@media screen and (max-width: 991px){
.middle-img {
    height: 27px;
    width: 12%;
}}@media screen and (max-width: 767px){
.middle-img {
    height: 24px;
    width: 18%;
    }}

@media screen and (max-width: 345px){
.middle-img {
    height: 21px;
    width: 27%;
    }}

.paragraph{
    margin-top: 0;
    font-weight: 600;
    font-size: 21px;
    line-height: 1;
    padding-top: 7px;
    margin-bottom: 1rem;
    margin-top: 7px;}

.red {
    right: 150px;
    padding-right: -41px;
    margin-right: -26px;
    left: -148px;
    height: 79px;
    background-color: #941b1b;
    transform: rotate(135deg);
    position: absolute;}
@media screen and (max-width: 991px){
.red {
        right: 149px;
    padding-right: -41px;
    margin-right: -26px;
    left: -175px;
    height: 79px;
    background-color: #941b1b;
    transform: rotate(135deg);
    position: absolute;}}
@media screen and (max-width: 767px){
   .red {
    right: 149px;
    padding-right: -41px;
    margin-right: -26px;
    left: -344px;
    height: 112px;
    background-color: #941b1b;
    transform: rotate(135deg);
    position: absolute;
}
}@media screen and (max-width: 575px){
 .red {
    right: 149px;
    padding-right: -41px;
    margin-right: -5px;
    left: -381px;
    height: 102px;
    background-color: #941b1b;
    transform: rotate(135deg);
    position: absolute;
}
}@media screen and (max-width: 550px){
 .red {
    right: 149px;
    padding-right: -41px;
    margin-right: -5px;
    left: -381px;
    height: 124px;
    background-color: #941b1b;
    transform: rotate(135deg);
    position: absolute;
}
}@media screen and (max-width: 473px){
 .red {
    right: 149px;
    padding-right: -41px;
    margin-right: -25px;
    left: -370px;
    height: 133px;
    background-color: #941b1b;
    transform: rotate(135deg);
    position: absolute;
}
}@media screen and (max-width: 380px){
 .red {
    right: 133px;
    padding-right: -41px;
    margin-right: -25px;
    left: -374px;
    height: 155px;
    background-color: #941b1b;
    transform: rotate(135deg);
    position: absolute;
}
}

.pnn {
    position: absolute;
    max-width: 12%;
    margin-top: 10px;
    transform: rotate(225deg);
    max-height: 53%;
    margin-left: 80px;
}

.pnn {
    position: absolute;
    max-width: 12%;
    margin-top: 10px;
    transform: rotate(225deg);
    max-height: 53%;
    margin-left: 85px;
}
@media screen and (max-width: 1200px){
    .pnn {
    position: absolute;
    max-width: 12%;
    margin-top: 10px;
    transform: rotate(225deg);
    max-height: 53%;
    margin-left: 80px;
}
}@media screen and (max-width: 1199px){
 .pnn {
    position: absolute;
    max-width: 12%;
    margin-top: 6px;
    transform: rotate(225deg);
    max-height: 53%;
    margin-left: 51px;
}
}
@media screen and (max-width: 991px){
.pnn {
    position: absolute;
    max-width: 12%;
    margin-top: 10px;
    transform: rotate(225deg);
    max-height: 53%;
    margin-left: 138px;
}
}
@media screen and (max-width: 771px){
   .pnn {
    position: absolute;
    max-width: 12%;
    margin-top: 10px;
    transform: rotate(225deg);
    max-height: 53%;
    margin-left: 135px;
} 
}
@media screen and (max-width: 767px){
   .pnn {
    
    position: absolute;
    max-width: 30%;
    margin-top: 27px;
    transform: rotate(225deg);
    max-height: 53%;
    margin-left: 303px;
} 
}
@media screen and (max-width: 575px){
.pnn {
    position: absolute;
    max-width: 30%;
    margin-top: 19px;
    transform: rotate(225deg);
    max-height: 63%;
    margin-left: 332px;
}
}
@media screen and (max-width: 552px){
.pnn {
    position: absolute;
    max-width: 30%;
    margin-top: 19px;
    transform: rotate(225deg);
    max-height: 63%;
    margin-left: 317px;
}
}@media screen and (max-width: 544px){
.pnn {
    position: absolute;
    max-width: 30%;
    margin-top: 19px;
    transform: rotate(225deg);
    max-height: 63%;
    margin-left: 305px;
}
}

@media screen and (max-width: 531px){
   .pnn {
   position: absolute;
    max-width: 25%;
    margin-top: 21px;
    transform: rotate(225deg);
    max-height: 53%;
    margin-left: 298px;
}
}@media screen and (max-width: 522px){
   .pnn {
    position: absolute;
    max-width: 25%;
    margin-top: 21px;
    transform: rotate(225deg);
    max-height: 53%;
    margin-left: 279px;
}
}
@media screen and (max-width: 500px){
   .pnn {
    position: absolute;
    max-width: 29%;
    margin-top: 10px;
    transform: rotate(225deg);
    max-height: 53%;
    margin-left: 259px;
}

}
@media screen and (max-width: 488px){
.pnn {

    position: absolute;
    max-width: 29%;
    margin-top: 10px;
    transform: rotate(225deg);
    max-height: 53%;
    margin-left: 259px;
}}@media screen and (max-width: 483px){
.pnn {
    position: absolute;
    max-width: 29%;
    margin-top: 10px;
    transform: rotate(225deg);
    max-height: 53%;
    margin-left: 251px;
}
}@media screen and (max-width: 449px){
.pnn {
    position: absolute;
    max-width: 29%;
    margin-top: 10px;
    transform: rotate(225deg);
    max-height: 53%;
    margin-left: 232px;
}
}
@media screen and (max-width: 431px){
.pnn {
    position: absolute;
    max-width: 12%;
    margin-top: 10px;
    transform: rotate(225deg);
    max-height: 53%;
    margin-left: 209px;
    }}
@media screen and (max-width: 416px){
.pnn {
    position: absolute;
    max-width: 12%;
    margin-top: 10px;
    transform: rotate(225deg);
    max-height: 53%;
    margin-left: 194px;

    }}

@media screen and (max-width: 408px){
.pnn {
    position: absolute;
    max-width: 12%;
    margin-top: 10px;
    transform: rotate(225deg);
    max-height: 53%;
    margin-left: 193px;

    }}
@media screen and (max-width: 404px){
.pnn {
    position: absolute;
    max-width: 7%;
    margin-top: 6px;
    transform: rotate(225deg);
    max-height: 53%;
    margin-left: 191px;
}
}
@media screen and (max-width: 385px){
.pnn {
    position: absolute;
    max-width: 9%;
    margin-top: 10px;
    transform: rotate(225deg);
    max-height: 53%;
    margin-left: 182px;

}
}@media screen and (max-width: 360px){
   .pnn {
    position: absolute;
    max-width: 12%;
    margin-top: 10px;
    transform: rotate(225deg);
    max-height: 53%;
    margin-left: 157px;
    }}
@media screen and (max-width: 336px){
   .pnn {
    position: absolute;
    max-width: 6%;
    margin-top: 12px;
    transform: rotate(225deg);
    max-height: 53%;
    margin-left: 150px;

}}
@media screen and (max-width: 331px){
  .pnn {
    position: absolute;
    max-width: 7%;
    margin-top: 10px;
    transform: rotate(225deg);
    max-height: 53%;
    margin-left: 143px;

}}





/*****************end the doctorr**************/
/*****************end the footer**************/
.try li{display: inline-block;}
.icone{height: 15px;}
#small{max-width: 16%;}
.footer-img{ 
   display: block;
    width: 164px;
    margin: 0 auto;
    padding-top: 40px;
}

.no{    display: block !important;
}
    .small3{max-width: 15%;
    padding-top: 26px;
}

/*****************end the footer**************/
#wrong{
    padding-inline-start: 0;
    /* clear: both; */
    /* padding-top: 26px; */
    display: inline;
    letter-spacing: -1px;
    }

@media screen and (max-width: 379px){
#wrong {
    
    padding-left: 0px;
}}

.forth{   
    height: 12px;
    width: 28px;
    display: block;
}
@media screen and (max-width: 465px){
.forth {
    height: 8px;
    width: 24px;
    display: block;
}}
@media screen and (max-width: 401px){
.forth {
    /* margin-top: 8px; */
    height: 8px;
    width: 24px;
    margin-bottom: -5px;
    display: block;
    /* margin: -3px; */
    }}
    #footer-mar{
        margin-bottom: 119px;}
        



    
    
    
    
    
    
    


#wrong li {
    display: inline-block;
    font-weight: 500;
    
}
@media screen and (max-width: 778px){
#wrong li {
    display: inline-block;
    font-size: 13px;
    }}

 @media screen and (max-width: 644px){
#wrong li {
    display: inline-block;
    font-size: 12px;
    }}
      @media screen and (max-width: 624px){
#wrong li {
    display: inline-block;
    font-size: 11px;
        }}

    @media screen and (max-width: 560px){
#wrong li {
    display: inline-block;
    font-size: 10px;
        }}  

 @media screen and (max-width: 509px){
#wrong li {
    display: inline-block;
    font-size: 10px;
}
}  
@media screen and (max-width: 500px){
#wrong li {
    display: inline-block;
    font-size: 9px;
    }}
@media screen and (max-width: 462px){
    #wrong li {
    display: inline-block;
    font-size: 9px;
    }}
@media screen and (max-width: 379px){
    #wrong li {
    display: inline-block;
    font-size: 8px;
    }}

@media screen and (max-width: 360px){
#wrong li {
    display: inline-block;
    font-size: 8px;
    }}
@media screen and (max-width: 345px){
#wrong li {
    display: inline-block;
    font-size: 7px;
    }}


.tt-li{padding-top: 31px;
font-weight: 700;
    font-size: 21px;
    display: inline-block;
    color: #9e2020;
}  
@media screen and (max-width: 555px){
.tt-li {
    padding-top: 31px;
    font-weight: 700;
    font-size: 11px;
    display: inline-block;
    color: #9e2020;
    }}
 
@media screen and (max-width: 480px){
.tt-li {
    padding-top: 45px;
    font-weight: 700;
    font-size: 11px;
    display: inline-block;
    color: #9e2020;
    }}
 



/************************************************************************/



.imgg2{width: 119px;
    display: block;
    margin: 0 auto;
     padding-top: 50px;

}
  @media screen and (max-width: 630px){
.imgg2 {
    width: 107px;
    display: block;
    margin: 0 auto;
    padding-top: 50px;

        }}

@media screen and (max-width: 624px){

        .imgg2 {
    width: 89px;
    padding-top: 48px;
    display: block;
    margin: 0 auto;

    }}
@media screen and (max-width: 488px){
.imgg2 {
    width: 81px;
    padding-top: 48px;
    display: block;
    margin: 0 auto;

    }}
@media screen and (max-width: 429px){
.imgg2 {
    width: 73px;
    padding-top: 48px;
    display: block;
    margin: 0 auto;
    }}

@media screen and (max-width: 418px){
    .imgg2 {
    width: 67px;
    padding-top: 72px;
    display: block;
    margin: 0 auto;
}  }
@media screen and (max-width: 379px){
   .imgg2 {
    width: 58px;
    padding-top: 60px;
    display: block;
    margin: 0 auto;

}  }
@media screen and (max-width: 325px){
.imgg2 {
    width: 53px;
    padding-top: 60px;
    display: block;
    margin: 0 auto;
    }}
    

/************************************************************************/
  

#home li{padding: 4px 2px;}
@media screen and (max-width: 320px){
     
#home li {
    padding: 4px 0px;
}}
#home{
    padding-top: 30px;
    font-size: 15px;
    display: inline-block;
    font-weight: 500;} 


 @media screen and (max-width: 700px){
     
  #home {
    padding-top: 30px;
    font-size: 15px;
      line-height: 1.2;
    padding-left: 13px;
    display: inline-block;
    font-weight: 500;
}
}
@media screen and (max-width: 630px){
#home {
    padding-top: 30px;
    font-size: 14px;
    line-height: 1.2;
    padding-left: 13px;
    display: inline-block;
    font-weight: 450;
}
} @media screen and (max-width: 624px){
        #home {
    padding-left: 1px;
    font-size: 11px;
    display: inline-block;
    font-weight: 500;
     }}
@media screen and (max-width: 560px){

    #home {
    padding-left: 11px;
    padding-top: 45px;
    font-size: 12px;
    display: inline-block;
    font-weight: 500;
}
}
    
@media screen and (max-width: 500px){

    #home {
    
    font-size: 10px;
    display: inline-block;
    font-weight: 500;
}
}@media screen and (max-width: 406px){
#home {
    font-size: 10px;
    display: inline-block;
    font-weight: 500;
    padding-left: 1px;
}
}
@media screen and (max-width: 379px){
#home {
    font-size: 10px;
    display: inline-block;
    font-weight: 500;
    padding-left: 0px;
}
}@media screen and (max-width: 360px){
#home {
    font-size: 9px;
    display: inline-block;
    font-weight: 500;
    padding-left: 0px;
}
}






/***************************signup**************************************/



form.frorm1 {
    border: 1px solid #b1181a;
    padding: 23px 31px;
    /* background-color: #a60002; */
    color: black;
    /* background-color: #d2d6d9; */
    /* opacity: .5; */
    font-size: 25px;
    font-weight: 600;
    font-family: none;
    /* height: 483px; */
    width: 461px;
    text-shadow: 1px 1px 1px 1px white;
    border-radius: 11px;
    margin-top: 31px;
    box-shadow: 13px 16px 7px -8px black;

}
form.frorm1 .form-control {
       display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 10px);
    padding: .375rem .75rem;
    font-size: 14rem;
    /* font-size: 221px; */
    font-weight: 400;
    line-height: 1.5;
    border-radius: 6px;
    opacity: .8;
    color: white;
    
    border-radius: -21;
    background-color: #a60002;
    box-shadow: -2px 1px 6px -2px;
    box-shadow: midnightblue;
    font: message-box;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    /* border-radius: .25rem; */
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}
#lone{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 10px);
    padding: .375rem .75rem;
    font-size: 14rem;
    /* font-size: 221px; */
    font-weight: 400;
    line-height: 1.5;
    color: white;
    border-radius: -21;
    background-color: #90474b;
    box-shadow: -2px 1px 6px -2px;
    box-shadow: midnightblue;
    font: message-box;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    /* border-radius: .25rem; */
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}




#btt2{
    color: #211f1f;
    background-color: #ffffff;
    border-color: #a60002;
    margin: 0 auto;
    width: 192px;
    font-size: 30px;
     opacity: .5; 
    display: block;
}


.sup{padding-top: 12px;
    /* top: 45px; */
    box-shadow: 1px 15px 13px -6px whitesmoke;
    font-family: auto;
    font-size: 32px;
    /* border: 1px solid black; */
    /* outline: double black; */
    text-align-last: center;
    top: 0;
    bottom: 230px;
    height: 59px;
        opacity: 1.5;
    margin-top: 38px;
    color: white;
    background-color: #a60002;

}
.first3 {  
    width: 151px;
    color: aliceblue;
    /* margin-right: 19px; */
    font-size: 23px;
    padding-top: -26px;
    list-style-type: none;
    font-family: auto;
    box-shadow: -1px 1px 1px 1px white;
    height: 49px;
    position: absolute;
    border-radius: -20;
    /* left: -49px; */
    /* margin-right: -7px; */
    background-color: #a60002;
    left: 360px;

}.second3 {   
    width: 151px;
    color: aliceblue;
    /* margin-right: 19px; */
    font-size: 23px;
    padding-top: -26px;
    list-style-type: none;
    font-family: auto;
    box-shadow: -1px 1px 1px 1px white;
    height: 49px;
    position: absolute;
    border-radius: -20;
    /* left: -49px; */
    /* margin-right: -7px; */
    background-color: #a60002;
    left: 522px;

}
.first3 a{   
    color: aliceblue;
    padding-top: -26px;
    list-style-type: none;
    font-family: auto;
    }
.second3 a{   
    color: aliceblue;
    padding-top: -26px;
    list-style-type: none;
    font-family: auto;
    }

.first3:hover {
    color: #fff;
    font-size: 23px;
    list-style-type: none;
    background-color:  black;
    border-color: black;
}
.second3:hover {
    color: #fff;
    font-size: 23px;
    list-style-type: none;
    background-color: black;
    border-color: black;
}
#btt22{color: #ffffff;
   background-color:#a60002;
    border-color: #a60002;
    margin: 0 auto;
    width: 192px;
    font-size: 25px;
    /* opacity: .5; */
    display: block;
    
}

#btt22:hover{color: #fff;
    font-size: 27px;
    
   